# Predicting the price of Rick's Pawn Shop diamonds

## Data:

In [8]:
import pandas as pd
diamond_cat = pd.read_csv('C:/Users/carla/OneDrive/Área de Trabalho/Ironhack/asset-v1_IRONHACK+DAFT+202007_SAO+type@asset+block@diamonds.csv')

In [11]:
diamond_cat

       carat        cut color clarity  depth  table  price     x     y     z
0       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
1       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
2       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
3       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
4       0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
48935   0.72    Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
48936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
48937   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
48938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
48939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[48940 rows x 10 columns]

### Understanding the data

In [10]:
diamond_cat.describe()

,carat,depth,table,price,x,y,z
count,48940.000000,48940.000000,48940.000000,48940.000000,48940.000000,48940.000000,48940.000000
mean,0.797817,61.751931,57.451161,3934.409644,5.730712,5.734333,3.538648
std,0.474126,1.430026,2.233450,3989.333861,1.121920,1.145344,0.706817
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,949.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.690000,5.710000,3.520000
75%,1.040000,62.500000,59.000000,5331.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [5]:
import pandas as pd
pd.read_csv('C:/Users/carla/OneDrive/Área de Trabalho/Ironhack/asset-v1_IRONHACK+DAPT+202007_SAO+type@asset+block@rick_diamonds.csv')

      carat        cut color clarity  depth  table     x     y     z
0      0.91  Very Good     H     SI2   63.4   57.0  6.10  6.18  3.89
1      0.38       Good     F     VS2   60.3   61.0  4.68  4.71  2.83
2      0.52      Ideal     H     VS2   61.8   56.0  5.19  5.16  3.20
3      1.10      Ideal     G     VS1   61.3   56.0  6.65  6.69  4.09
4      2.28      Ideal     G     SI2   61.6   57.0  8.44  8.37  5.18
...     ...        ...   ...     ...    ...    ...   ...   ...   ...
4995   0.30  Very Good     D     SI2   62.2   59.0  4.25  4.30  2.66
4996   0.51      Ideal     F    VVS2   61.9   56.0  5.09  5.14  3.16
4997   1.01  Very Good     F     SI1   60.6   60.0  6.37  6.43  3.88
4998   0.31      Ideal     F    VVS1   62.1   56.0  4.35  4.38  2.71
4999   0.33      Ideal     E     VS2   61.8   55.0  4.45  4.48  2.76

[5000 rows x 9 columns]